<h1>Log In</h1>
<form id='login_form' action="/login" method="post">
    <input type="text" name="username" >
    <input type="password" name="password" >
    <input class="btn btn-primary" type="submit" id='submit'>
</form>
